<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.neoanon.simpleweather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBarMain">
        <activity android:name=".view.mainscreen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.detailedforecast.ForecastActivity"
            android:label="@string/ten_day_forecast_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.settings.SettingsActivity"
            android:theme="@style/SettingAppTheme" />
        <activity
            android:name=".view.aboutapp.AboutAppActivity"
            android:theme="@style/SettingAppTheme" />
    </application>

</manifest>